*{
    padding: 0;
    margin: 0;
}
body{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    padding: 2%;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
}
h1{
    text-align: left;
    color:black;
    background-color: lightsteelblue;
    font-family: sans-serif;
    font-stretch: wider;
}
.container{
    position: relative;
    width: 600px;
    height: 150px;
    margin-top: 25%;
    border: 1%;
    background: lightsteelblue;
    box-shadow: linen;
    font-family: sans-serif;
}
.title{
    position: center;
    font-style: oblique;
    color: black;
    margin-bottom: 5%;
    font-family: sans-serif;
}
.email{
    margin-top:5%;
}
.password{
    margin-top:1%;
}