* { box-sizing: border-box }

 body {
  display: table;
  margin-top: 10%;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  vertical-align: middle;
  align-items: center;
}
.containerform {
  margin: auto;
  padding: 25px 50px;
  width: 350px;
  min-height: 115px;
  background: #fff;
  border-left: 5px solid #9b2;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  font-family: sans-serif;
  color: #666;
  align-items: center;
}
.h1 {
  margin-bottom: 5%;
  line-height: 50px;
  font-family: sans-serif;
}
.form {
  padding: 0 10px 10px;
} 
.email label{
    position:relative;
    font-family: sans-serif;
    text-align: left;
}
.email input {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5px;
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
}
.password input{
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5px;
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
}
.confirmPassword input{
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5px;
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
}
.fullName input{
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5px;
  width: 225px;
  height: 30px;
  border: 1px solid #ccc;
}
input:focus {
  z-index: 15;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  outline: 0;
}
#password {
  top:-1px;
  margin-bottom: 5px;
}
.register-form {
  display: none;
}
.submit input {
  float: right;
  padding: 0;
  width: 75px;
  background: #9b2;
  color: #140;
  border-color: #471;
  margin-top: 2%;
}
#submit:hover {
  color: #025;
  background: #28e;
  border-color: #16c;
}
.button ~ a {
  display: block;
  float: left;
  width: 120px;
  text-decoration: none;
  color: #666;
}
.button ~ a:hover {
  text-decoration: underline;
}